<div class="containerimg container-fluid">
	<div class="row"><img class="marginleft" src="img/ipl.jpg"></div>
	<div class="login-container">
        <form action="" method="">
            <button class="btn btn-info btn-block login" ng-click="reDirectto()">Sign in User</button>
            <button class="btn btn-info btn-block login" ng-click="reDirecttoAdmin()">Sign in Admin</button>
        </form>
        <br>
        <a href="http://www.cricbuzz.com/" target="_blank"><h6><b><i><u>Click to go CricBuzz</u></i></b></h6></a>   
    </div>
</div>